
.category_li{
    margin-left: 50px;

}

.category_li:hover{
    color: salmon;
    transition: .3s;
    cursor: pointer;
}
#details_btn{
    display: flex;
    justify-content: space-between;
}
#author_image{
    width: 50px;
    border-radius: 50%;
}
#author_img_div{
    width: 300px;
}
#found_container{
    background-color: antiquewhite;
    color: black;
}


/* @media screen and (max-width: 480px) {
    body {
      background-color: lightgreen;
    }
    ul#category_container {
        display: grid;
        grid-template-columns: repeat(3,1fr); 
    };
  } */